@import "base/reset.css";

/* Layout */

body {
  position: relative;
  height: 100vh;
}

.wrapper {
  background-color: orange;
  width: 8rem;
  height: 13rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  overflow: hidden;
}

/* header */

.header {
  background-color: green;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  text-align: center;
  font-size: 0.6rem;
}

/* feature-box */

.feature-box {
  background-color: red;
  display: flex;
  height: 1.5rem;
}

.feature-box__input {
  width: 100%;
}
