@import "base/reset.css";

/* Layout */

body {
  position: relative;
  height: 100vh;
}

.wrapper {
  background-color: orange;
  width: 40rem;
  height: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}

/* header */

.header {
  background-color: rgb(134, 176, 231);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  text-align: center;
  font-size: 4rem;
}

/* feature-box */

.feature-box {
  background-color: rgba(134, 160, 231, 0.733);
  display: flex;
  height: 5rem;
}

.feature-box__search {
  flex: 1;
}

.feature-box__input {
  width: 100%;
  border: none;
  background-color: rgb(86, 86, 27);
  outline: none;
  border: none;
  background: none;
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.feature-box__add-button-box {
  flex: 0 0 7rem;
  background-color: rgb(42, 117, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-button-text {
  font-size: 2.5rem;
}

.divider {
  height: 0.2rem;
  background-color: black;
}

/* list-main */

.list-wrapper {
  height: 10rem;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.list-item {
  border-bottom: 0.5px solid black;
  padding: 0.2rem;
}

.list-delete-btn {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
}

.list-edit-btn {
  background-color: pink;
  width: 1rem;
  height: 1rem;
}

/* pop-up */

.pop-up-box {
  width: 8rem;
  height: 5rem;
  background-color: pink;
  display: none;
}

.show-pop-up {
  display: block;
}
