@import "base/reset.css";

/* Layout */

body {
  position: relative;
  height: 100vh;
}

.wrapper {
  background-color: rgb(203, 217, 231);
  width: 40rem;
  height: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}

/* header */

.header {
  background-color: rgb(134, 176, 231);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  text-align: center;
  font-size: 4rem;
}

/* feature-box */

.feature-box {
  background-color: rgba(134, 160, 231, 0.733);
  display: flex;
  height: 5rem;
}

.feature-box__search {
  flex: 1;
}

.feature-box__input {
  width: 100%;
  border: none;
  background-color: rgb(86, 86, 27);
  outline: none;
  border: none;
  background: none;
  font-size: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.feature-box__add-button-box {
  flex: 0 0 7rem;
  background-color: rgb(42, 117, 197);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-button-text {
  font-size: 2.5rem;
}

.divider {
  height: 0.8rem;
  background-color: rgb(86, 48, 222);
}

/* list-main */

main {
  height: 100%;
  overflow-y: auto;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.list-item {
  border-bottom: 0.5px solid black;
  font-size: 3rem;
  height: 5rem;
  display: flex;
  margin-top: 1rem;
  padding-left: 1rem;
  justify-content: space-between;
}

.list-button-box {
  margin-right: 1rem;
}

.list-edit-btn {
  width: 3rem;
  height: 3rem;
}

.list-delete-btn {
  width: 3rem;
  height: 3rem;
}

.list-edit-icon {
  width: 3rem;
  height: 3rem;
  pointer-events: none;
}

.list-delete-icon {
  width: 3rem;
  height: 3em;
  pointer-events: none;
}

/* pop-up */

.pop-up-wrapper {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.pop-up-box {
  width: 30rem;
  height: 20rem;
  background-color: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1px;
  padding: 5px;
  text-align: center;
}

.pop-up-read {
  background-color: rgb(170, 222, 255);
  height: 50rem;
  width: 40rem;
}

.pop-up-title {
  font-size: 2rem;
  margin-bottom: 8rem;
}

.pop-up-add-input-box {
  margin-bottom: 1.5rem;
}

.add-input {
  font-size: 2rem;
}

.pop-up-confirm-btn {
  background-color: beige;
  font-size: 2rem;
  width: 8rem;
  border-radius: 3px;
}

.read-pop-up-title {
  margin-bottom: 1rem;
}

.pop-up-memo {
  width: 35rem;
  height: 30rem;
  background-color: #ffee58;
  border-radius: 2rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.pop-up-read-title {
  font-size: 3.5rem;
  margin-left: 1.5rem;
}

.memo-input {
  background-color: transparent;
  width: 90%;
  height: 80%;
  display: none;
  margin: 0 auto;
}
.show-pop-up {
  display: block;
}

.hide-pop-up {
  display: none;
}
